# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build outputs
build/
dist/
dist-ssr/

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor settings
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac system files
.DS_Store

# Optional npm cache
.npm/

# Testing
coverage/

# Service worker cache
sw.js
workbox-*

# Misc
*.local
*.lock
*.bak
*.tmp
